body {
    margin: 20px;
}

main {
    max-width: 600px;
    margin: auto;
}

form {
    border: 1px solid #aaa;
    padding: 20px;
}

fieldset {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #999;
}

legend {
    padding: 0 10px;
}

label {
    display: inline-block;
    width: 80px;
    margin-top: 10px;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

.grupo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}