* {
    margin: 0;
    padding: 0;
}
main{
    padding: 20px;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
}
input[type="submit"]{
    padding: 5px;
    width: max-content;
}