*{
    font-style: italic;
    font-family: Arial, sans-serif;
}
table th{
    color: blue;
}
table td{
    color: green;
    background-color: yellow;
}
.nomes{
    color: black;
    background-color: rgb(236, 171, 231);
}
.final{
    color: black;
    background-color: red;
}

